{% extends 'base.html.twig' %}


{% block cover %}
{% endblock %}

{% block content %}

	{# <div class="container-fluid mb-5" >
		<div class="row" style="background-color: #000000;">
			<div style="container">
				<img class='img-fluid ms-0' src="{{ asset('assets/img/pexels-helena-lopes-1015568_modif.png') }}"> #}
				{# <div style="position:absolute;top:10%; width:100%; height:100%; z-index:2;font-size:5.9vw"> #}
				{# <div class="img-fluid " style="position:absolute;top:10%; width:100%; height:auto; z-index:2;font-size:5.9vw">
					<center class="text-white"><b>Notre sport préféré :<br>Faire baisser les prix du vôtre</b></center>
				</div> 
			</div>
			
		</div>
	</div> #}


	

	<div class="container">
    <div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">On partage
				<span class="text-muted">tous la même vision.</span>
			</h2>
			<p class="lead">Un jour, on s’est posé une question :<br>
			« Pourquoi payer cher la pratique d’un sport alors que c’est pour notre bien ? ».<br>
			C’est avec cette idée qu’on a lancé DoSport.<br>
			Le but : rendre accessible au plus grand nombre et à moindre coût l’équipement du sportif. Et avec les années, on a fini par inventer notre propre sport : celui de faire baisser les prix du vôtre.</p>
		</div>
		<div class="col-md-5">
			{# <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"> #}
			<img class="img-fluid" src="{{ asset('assets/img/pexels-jopwell-2422290_500x500.png') }}" alt="groupe">
				{# <title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text> #}
			</svg>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading">On a une technique

				<span class="text-muted">pour trouver les meilleurs prix</span>
			</h2>
			<p class="lead">C’est du sport ! On rassemble tous les stocks excédentaires des meilleures marques en Europe. Une partie de ces surplus sont destinés à la destruction et pourraient représenter de futurs déchets environnementaux.<br>
			Nous, on les négocie au meilleur prix pour vous offrir les meilleures offres, sur du matériel de grande qualité.<br>
			Pourquoi se priver ?</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img class="img-fluid" src="{{ asset('assets/img/pexels-elevate-1267697_500x500.png') }}" alt="groupe">

			{# <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"> #}
				{# <title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text> #}
			</svg>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">On a des performances
				<span class="text-muted">qui parlent de nous</span>
			</h2>
			<p class="lead">Sans trop se la raconter, on affiche de bonnes performances.<br>
			Aujourd’hui, DoSport est devenu leader dans sa catégorie en Europe. 14 millions de nos membres profitent chaque jour de nos offres, des offres jusqu’à -80% sur une centaine de disciplines. Plus de 3000 marques nous ont déjà fait confiance.<br>
			On se la raconte un peu quand même.</p>
		</div>
		<div class="col-md-5">
			<img class="img-fluid" src="{{ asset('assets/img/pexels-run-ffwpu-1571939_500x500.jpg') }}" alt="groupe">
			{# <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
				<title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text> #}
			</svg>
		</div>
	</div>

	<hr class="featurette-divider">
	</div>
{% endblock %}
